.catalog-item {
    box-sizing: border-box;
    display: flex;
    width: 250px;
    height: 300px;
    &__image {
        transition: 0.2s;
        &:hover {
            opacity: 0.6;
            transform: scale(1.15);
        }
    }
}
