:root {
    --nonogram-square-width: 16px;
    --nonogram-number-width: calc(6px + var(--nonogram-square-width));
    --cell-padding: 3px;
}
.square-number{
    display: flex;
    justify-content: center;
    //width: calc(var(--nonogram-number-width) - 2px);
    //height: calc(var(--nonogram-number-width) - 2px);
    padding: 0 !important;
}