$primary: #283618;
$secondary: #606c38;
$dark: #1b263b;
$danger: #bb3e03;
$warning: #dda15e;
$body-bg: #fefae0;

@import '~bootstrap/scss/bootstrap';

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1px;
    height: 100%;
}
