.sakura {
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    top:-100px;
    width:100%;
    height: calc(100% + 100px);
    text-align: right;
    overflow: hidden;
}

.sakura div {
    display: inline-block;
    background: linear-gradient(to bottom right, #fffcff, #f489bf);
    border-radius: 20% 70% 50%;
    box-shadow: inset 0px 0px 2px #f489bf;
}

.sakura div:nth-of-type(3n) {
    animation: falling 10s 0s infinite;
}

.sakura div:nth-of-type(3n+1) {
    animation: falling2 10s 0s infinite;
}

.sakura div:nth-of-type(3n+2) {
    animation: falling3 10s 0s infinite;
}

.sakura div:nth-of-type(n) {
    height: 25px;
    width: 30px;
}

.sakura div:nth-of-type(2n+1) {
    height: 15px;
    width: 18px;
}

.sakura div:nth-of-type(3n+2) {
    height: 20px;
    width: 24px;
}

.sakura div:nth-of-type(n) {
    animation-delay: 3.4s;
}

.sakura div:nth-of-type(2n) {
    animation-delay: 7.8s;
}

.sakura div:nth-of-type(3n) {
    animation-delay: 4.6s;
}

.sakura div:nth-of-type(4n) {
    animation-delay: 8.8s;
}

.sakura div:nth-of-type(5n) {
    animation-delay: 10s;
}

.sakura div:nth-of-type(6n) {
    animation-delay: 7s;
}

.sakura div:nth-of-type(7n) {
    animation-delay: 5.6s;
}

.sakura div:nth-of-type(8n) {
    animation-delay: 3s;
}

.sakura div:nth-of-type(9n) {
    animation-delay: 6.6s;
}

.sakura div:nth-of-type(10n) {
    animation-delay: 5s;
}

.sakura div:nth-of-type(11n) {
    animation-delay: 2.4s;
}

.sakura div:nth-of-type(12n) {
    animation-delay: 8.2s;
}

.sakura div:nth-of-type(13n) {
    animation-delay: 2s;
}

.sakura div:nth-of-type(14n) {
    animation-delay: 9.4s;
}

.sakura div:nth-of-type(15n) {
    animation-delay: 6s;
}

.sakura div:nth-of-type(16n) {
    animation-delay: 2.8s;
}

@keyframes falling {
    0% {
        transform:
            translate3d(random(100), 0, 0) rotate(0deg);
    }

    100% {
        transform:
            translate3d(-100px, 700px, 0) rotate(90deg);
        opacity: 0;
    }
}

@keyframes falling3 {
    0% {
        transform:
            translate3d(0, 0, 0) rotate(20deg);
    }

    100% {
        transform:
            translate3d(-50px, 640px, 0) rotate(40deg);
        opacity: 0;
    }
}

@keyframes falling2 {
    0% {
        transform:
            translate3d(0, 0, 0) rotate(180deg);
    }

    100% {
        transform:
            translate3d(-20px, 500px, 0) rotate(90deg);
        opacity: 0;
    }
}