@import '../app/App.scss';

footer {
    a {
        display: block;
        width: fit-content;
        height: fit-content;
        transition: 0.2s;
    }

    a:hover {
        color: rgb(0, 10, 150);
        transform: scale(1.15);
    }
}

.rss-image {
    height: 25px;
    cursor: pointer;
}