header,
footer {
    transition: 0.2s;
}

footer {
    a {
        display: block;
        width: fit-content;
        height: fit-content;
        transition: 0.2s;
    }

    a:hover {
        transform: scale(1.15);
    }
}

.rss-image {
    height: 25px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-grow: 10;
    max-width: 1920px;
    max-height: 100%;
    overflow: hidden;
}

.main-container-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .main-container-content {
        flex-direction: column;
    }
}
