header,
footer {
    transition: 0.2s;
}

footer {
    a {
        display: block;
        width: fit-content;
        height: fit-content;
        transition: 0.2s;
    }

    a:hover {
        color: rgb(0, 10, 150);
        transform: scale(1.15);
    }
}

.rss-image {
    height: 25px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    .main-container {
        flex-direction: column;
    }
}
