:root {
    --nonogram-square-width: 1rem;
    --nonogram-number-width: calc(6px + var(--nonogram-square-width));
    --cell-padding: 1px;
}
.table {
    width: min-content;
    margin: 0;
    &:hover {
        cursor: pointer;
    }
}
.game-field {
    user-select: none;
}
.chronometer {
    width: max-content;
}
.border-right-plus {
    border-right-width: 3px !important;
}
.border-bottom-plus {
    border-bottom-width: 3px !important;
}