.square {
    width: var(--nonogram-square-width);
    height: var(--nonogram-square-width);
}
.filled-square {
    background-color: var(--bs-teal);
}
.crossed-square {
    background-image: url("../../image/cross.svg");
    background-size: contain;
}
.nonogram-border {
    border: 1px solid var(--bs-teal);
}
.nonogram-numbers-border {
    border: 1px solid var(--bs-cyan);
}
.table {
    width: min-content;
}
.cell-square {
    padding: var(--cell-padding) !important;
}